/*
 * @Description: 基础公共样式
 * @Author: Friends233
 */

 html,
 body {
   height: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   background-color: #f8f8f8;
   overflow-x: hidden;
 }

 a{
   color:#000;
   text-decoration: none;
 }

 ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
  }
 }
