/*
 * @Description: 响应式
 * @Author: Friends233
 */

 .none {
   display: none;
 }

@media screen and (max-width: 600px) {
  .none-600 {
    display: none !important;
  }
  html {
    font-size: 10px !important;
  }
  // .none {
  //   display: block;
  // }
}